<section class="col-12" id="advantages">
  <div class="container sections">
    <div class="col-12 text-center">
      <h1 class="section-title section-title-adv">Ինչով ենք տարբերվում</h1>
    </div>
    <div class="row first-row">
      <div class="col-xs-12 col-lg-6">
        <div class="inline-items">
          <span class="img-block">
           <div class="center-helper">  <img class="advantages-icons" src="assets/images/all-in-one.png"></div>
          </span>
          <span class="advantages-item">
            <div>
            <h1 class="titles">Միասնական</h1>
            <p class="advantages-text">
              Տվյալների մուտքագրումը նվազագույնի է հասցված։ Աշխատավարձի հաշվարկն ու կադրային փաստաթղթերը ստեղծվում են մեկ համակարգում՝ միևնույն տվյալների հիման վրա։
            </p>
          </div>
          </span>
        </div>
        <div class="inline-items">
          <div class="img-block">
            <span class="center-helper"><img class="advantages-icons adv-icon2" src="assets/images/quick-start.png"></span>
          </div>
          <div class="advantages-item">
            <h1 class="titles">Կազմ ու պատրաստ</h1>
            <p class="advantages-text">
              Գրանցվելուց հետո համակարգն անմիջապես պատրաստ է շահագործման։ Կարիք չկա ժամանակ վատնել ծրագրեր, բանալիներ տեղադրելու վրա։
            </p>
          </div>
        </div>
        <div class="inline-items">
          <div class="img-block">
           <span class="center-helper"> <img class="advantages-icons adv-icon3" src="assets/images/user-friendly.png"></span>
          </div>
          <div class="advantages-item">
            <h1 class="titles">Մարդամոտ </h1>
            <p class="advantages-text">
              Համակարգը պարզ է, սովորելը՝ հեշտ, իսկ օգտագործելը՝ հավես :) Ժամանակ մի վատնեք մասնակցելով ձանձրալի դասընթացների վրա։
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6 second-row">
        <div class="inline-items">
          <div class="img-block">
           <span class="center-helper"> <img class="advantages-icons adv-icon4" src="assets/images/online.png"></span>
          </div>
          <div class="advantages-item advantages-item4">
            <h1 class="titles">Առցանց</h1>
            <p class="advantages-text">
              Հասանելի է ցանկացած վայրից։ Աշխատելու համար անհրաժեշտ է ունենալ համացանցին միացած համակարգիչ՝ իսկ տվյալներն ու ծրագիրը պահվում են ամպային սերվերում:
            </p>
          </div>
        </div>
        <div class="inline-items">
          <div class="img-block">
          <span class="center-helper">  <img class="advantages-icons adv-icon5" src="assets/images/pay-as-you-go.png"> </span>
          </div>
          <div class="advantages-item">
            <h1 class="titles">Նստելավարձ չկա :)</h1>
            <p class="advantages-text">
              Համակարգը հասանելի է ամսական վճարով՝ ուղիղ համեմատական է ձեր աշխատակիցների թվին։ Չկա ծրագրի ձեռքբերման կամ թարմացումների ակտիվացման լրացուցիչ վճար։
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>