<div class="col-12 faq" id="faq">
  <div class="container sections">
   <div class="col-12 text-center">
    <h1 class="section-title">Հաճախ տրվող հարցեր</h1>
  </div>
      <div id="accordionExample3">
    <div class="row">
        <div class="col-xs-12 col-lg-6">
          <div class="card" id="question1">
            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              <div class="question-div">
                <span class="question-text question-text1">Գները ԱԱՀ-ո՞վ են</span>
              </div>
              <div class="question-div">
                <img class="chevron chevron1" src="assets/images/chevron-up.svg">
              </div>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample3">
              <div class="card-body">
                <div class="answer-div">
                  <span class="answer">
                    Այո, կայքում նշված գները ներառում են ավելացված  արժեքի հարկը։
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="card" id="question2">
            <div class="card-header " id="headingTwo" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              <div class="question-div">
                <span class="question-text question-text2">Ինչպե՞ս են դուրս գրվելու հաշիվները</span>
              </div>
              <div class="questoin-div">
                <img class="chevron chevron2" src="assets/images/chevron-down.svg">
              </div>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample3">
              <div class="card-body">
                <div class="answer-div">
                  <span class="answer">
                    Հիմնարկ ՓԲԸ-ն հաշիվները դուրս է գրելու հաջորդող ամսվա սկզբին՝ էլեկտրոնային եղանակով։ Հաշիվները դուրս են գրվելու այն իրավաբանական կամ ֆիզիկական անձի անունով, ում հետ կնքվել է Հիմնարկ Մարդիկ համակարգի օգտագործման պայմանագիրը։
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="card" id="question3">
            <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
              <div class="question-div">
                <span class="question-text question-text3">
                  Ի՞նչ կլինի եթե Free Trial-ից հետո պատվիրատուն չի ակտիվացնում վճարովի փաթեթ
                </span>
              </div>
              <div class="question-div">
                <img class="chevron chevron3" src="assets/images/chevron-down.svg">
              </div>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample3">
              <div class="card-body">
                <div class="answer-div">
                  <span class="answer">
                    Դուք կպահպանեք հասանելիությունը համակարգին, սակայն չեք կարողանա նոր տվյալներ ավելացնել կամ փոփոխել։
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-6">
          <div class="card" id="question4">
            <div class="card-header" id="headingFour" data-toggle="collapse" data-target="#collapseFour"
              aria-expanded="false" aria-controls="collapseFour">
              <div class="question-div">
                <span class="question-text question-text4">
                  Հնարավո՞ր է մի քանի ընկերության համար փաթեթ ակտիվացնել
                </span>
              </div>
              <div class="question-div">
                <img class="chevron chevron4" src="assets/images/chevron-down.svg">
              </div>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample3">
              <div class="card-body">
                <div class="answer-div">
                  <span class="answer">
                    Այո, ձեր account-ին հնարավոր է կցել անսահմանափակ թվով ընկերություններ։
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="card" id="question5">
            <div class="card-header" id="headingFive" data-toggle="collapse" data-target="#collapseFive"
              aria-expanded="false" aria-controls="collapseFive">
              <div class="question-div">
                <span class="question-text question-text5">
                  Ինչպե՞ս է հաշվարկվում  աշխատակիցների քանակը  դուրս գրվող ամսական հաշիվներում
                </span>
              </div>
              <div class="question-div">
                <img class="chevron chevron5" src="assets/images/chevron-down.svg">
              </div>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample3">
              <div class="card-body">
                <div class="aswer-div">
                  <span class="answer">
                    Աշխատակիցների քանակը որոշվում է ձեր հաշվով գրանցված բոլոր հիմնարկներում այն աշխատակիցների քանակով, որոնք ամսվա վերջին օրվա դրությամբ ունեն գործող աշխատանքային պայմանագիր։
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="card" id="question6">
            <div class="card-header" id="headingSix" data-toggle="collapse" data-target="#collapseSix"
              aria-expanded="false" aria-controls="collapseSix">
              <div class="question-div">
                <span class="question-text question-text6">
                  Քանի՞ օգտագործող կարող է միանալ համակարգին
                </span>
              </div>
              <div class="question-div">
                <img class="chevron chevron6" src="assets/images/chevron-down.svg">
              </div>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample3">
              <div class="card-body">
                <div class="answer-div">
                  <span class="answer">
                    Օգտագործողների քանակը անսահմանափակ է։
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>