<div class="features" id="features">
  <div class="container sections">
    <h1 class="heading text-center">Հատկություններ</h1>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <h3 class="about-heading">Աշխատանքային պայմանագրերի ղեկավարում</h3>
        <p class="about-text">
          Նոր աշխատակից գրանցելիս օգտագործողը նշում է տվյալ աշխատակցի անձնական տվյալները, ինչպես նաև սահմանում է աշխատանքային պայմանները՝ աշխատանքի գրաֆիկը և աշխատավարձի չափը։ Գրանցված տվյալների հիման վրա համակարգը ավտոմատ գեներացնում է աշխատանքային պայմանագիրը, իսկ աշխատակիցը ավելացվում է աշխատավարձի հաշվարկում։
        </p>
        <h3 class="about-heading">Պետական նպաստներ</h3>
        <p class="about-text">
          Ժամանակավոր անաշխատունակության և մայրության նպաստների ավտոմատացված հաշվառում՝ օգտագործողը պետք է մուտքագրի միայն սկզբի և ավարտի ամսաթվերը իսկ համակարգը կհաշվարկի նպաստը։
        </p>
      </div>
      <div class="col-xs-12 col-md-4">
        <h3 class="about-heading">Աշխատավարձի հաշվարկ</h3>
        <p class="about-text">
          Աշխատավարձի հաշվարկը ամբողջովին ավտոմատացված է։ Ձեզանից ակնկալվում է միայն ստուգել գրանցումների ճշտությունը։
        </p>
        <h3 class="about-heading">Վճարումների իրականացում</h3>
        <p class="about-text">
          Վճարման փաստաթղթերը ստեղծվում են ավտոմատ կերպով՝ ըստ աշխատակցի նախընտրած վճարման միջոցի: Վճարման փաստաթղթերը հնարավոր է տպել և արտահանել օնլայն-բենքինգի և ՀԾ Հաշվապահ 7 համակարգերի հետ համատեղելի XML ձևաչափով։
        </p>
        <h3 class="about-heading">Առողջության ապահովագրության վարում
        </h3>
        <p class="about-text">
          Հնարավոր է գրանցել աշխատակցի և իր ընտանիքի անդամների համար գործատուի կողմից տրամադրված առողջության ապահովագրությունը և վարել այդ եկամտի տեսակի ճշգրիտ հաշվառումը։
        </p>
      </div>
      <div class="col-xs-12 col-md-4">
        <h3 class="about-heading">Արձակուրդայինի հաշվարկ</h3>
        <p class="about-text">
          Արձակուրդայինի հաշվարկը կատարելու համար անհրաժեշտ է մուտքագրել միայն սկզբի և ավարտի ամսաթվերը՝ արձակուրդի դիմումը, հրամանը և արձակուրդայինի հաշվարկը համակարգը կկատարի ինքնուրույն։ Հասանելի արձակուրդային օրերի թիվը նույնպես հաշվարկվում է համակարգի կողմից։
        </p>
        <h3 class="about-heading">Օրենսդրության փոփոխությունների կիրառում</h3>
        <p class="about-text">
          Օրենսդրության, հարկային դրույքաչափերի փոփոխությունների ավտոմատ կիրառում համակարգում։
        </p>
        <h3 class="about-heading">Փաստաթղթավորում</h3>
        <p class="about-text">Մուտքագրված տվյալներով պայմանագրերի, հրամանների, դիմումների, տեղեկանքերի ավտոմատ գեներացում, արխիվի պահպանում։
        </p>
      </div>
    </div>
    <!-- <div class="more">
      <a href="/more" class="more-link">ԻՄԱՆԱԼ ԱՎԵԼԻՆ</a>
    </div> -->
  </div>
</div>