
<div class="footer-head">
  <div class="container sections">
    <span class="call-to-action">Փորձեք 1 ամիս անվճար</span>
    <a role="button" aria-pressed="true" class="try-btn try open-signup-page">ՓՈՐՁԵԼ ԱՆՎՃԱՐ</a>
  </div>
</div>
<!-- <div class="footer-body">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <ul>
          <h5 class="footer-item-head">Լուծում</h5>
          <li>
            <a href="#solutions" class="footer-item scroll">Մարդիկ</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h5 class="footer-item-head">Ռեսուրսներ</h5>
        <ul>
          <li class="item">
            <a href="#faq" class="footer-item scroll">Հաճախակի տրվող հարցեր</a>
          </li>
          <li>
            <a href="#pricing" class="footer-item scroll">Փաթեթներ</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h5 class="footer-item-head">Հիմնարկի մասին</h5>
        <ul>
          <li>
            <span class="footer-item">Մեր հաճախորդները</span>
          </li>
          <li>
            <span class="footer-item">Ներդրողները</span>
          </li>
          <li>
            <span class="footer-item">Մամուլում</span>
          </li>
          <li>
            <span class="footer-item">Բլոգ</span>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 ">
        <h5 class="footer-item-head">Կապի մեջ</h5>
        <ul>
          <li>
            <span class="footer-item">info@himnark.am</span>
          </li>
          <li>
            <p class="footer-item">Հեռ․ 93235615</p>
          </li>
         
            <a href="https://www.facebook.com/himnark.am/"><i class="bottom-icon fab fa-facebook-f"></i></a>
            <a href="https://www.linkedin.com/company/himnark-cjsc"><i class="bottom-icon fab fa-linkedin-in"></i></a>
            <a href="https://www.youtube.com/channel/UC1IAaaVqSkvotl9zYfUVkSA"><i class="bottom-icon fab fa-youtube"></i></a>
            <a href="https://twitter.com/himnark"><i class="bottom-icon fab fa-twitter"></i></a>
            <a href="https://plus.google.com/113229614432305289269"><i class="bottom-icon fab fa-google-plus-g"></i></a>
            <a href="https://www.instagram.com/himnark/"><i class="bottom-icon fab fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
<div class="footer-bottom footer-desk">
  <div class="container bottom-block">
    <a class="bottom-logo" >
      <img src="assets/images/Asset 2.svg" width="156" height="42" alt="" class="bottom">
    </a>
    <div class="bottom-content">
      <div class="bottom-text rights">
        <small>Բոլոր իրավունքները պաշտպանված են</small>
        <small>Հիմնարկ ՓԲԸ © 2018</small>
      </div>
      <div class="links">
        <span class="bottom-icons bottom-icons2">
          <a href="https://www.facebook.com/himnark.am/"><i class="bottom-icon fab fa-facebook-f"></i></a>
            <a href="https://www.linkedin.com/company/himnark-cjsc"><i class="bottom-icon fab fa-linkedin-in"></i></a>
            <a href="https://www.youtube.com/channel/UC1IAaaVqSkvotl9zYfUVkSA"><i class="bottom-icon fab fa-youtube"></i></a>
            <a href="https://twitter.com/himnark"><i class="bottom-icon fab fa-twitter"></i></a>
            <a href="https://plus.google.com/113229614432305289269"><i class="bottom-icon fab fa-google-plus-g"></i></a>
            <a href="https://www.instagram.com/himnark/"><i class="bottom-icon fab fa-instagram"></i></a>
          </span>
        <a class="bottom-text">
          <small class="phone">Հեռ. 93235615</small>
        </a>
        <a class="bottom-text">
          <small class="mail">info@himnark.am</small>
        </a>
         <span class="bottom-icons bottom-icons1">
          <a href="https://www.facebook.com/himnark.am/"><i class="bottom-icon fab fa-facebook-f"></i></a>
            <a href="https://www.linkedin.com/company/himnark-cjsc"><i class="bottom-icon fab fa-linkedin-in"></i></a>
            <a href="https://www.youtube.com/channel/UC1IAaaVqSkvotl9zYfUVkSA"><i class="bottom-icon fab fa-youtube"></i></a>
            <a href="https://twitter.com/himnark"><i class="bottom-icon fab fa-twitter"></i></a>
            <a href="https://plus.google.com/113229614432305289269"><i class="bottom-icon fab fa-google-plus-g"></i></a>
            <a href="https://www.instagram.com/himnark/"><i class="bottom-icon fab fa-instagram"></i></a>
          </span>
      </div>
    </div>
  </div>
</div>

<div class="footer-mob">
  <div class="container bottom-block">
      <a class="bottom-logo" >
        <img src="assets/images/Asset 2.svg" width="156" height="42" alt="" class="bottom">
      </a>
     
        <div class="social-medias">
         <a href="https://www.facebook.com/himnark.am/"><i class="bottom-icon fab fa-facebook-f"></i></a>
         <a href="https://www.linkedin.com/company/himnark-cjsc"><i class="bottom-icon fab fa-linkedin-in"></i></a>
         <a href="https://www.youtube.com/channel/UC1IAaaVqSkvotl9zYfUVkSA"><i class="bottom-icon fab fa-youtube"></i></a>
         <a href="https://twitter.com/himnark"><i class="bottom-icon fab fa-twitter"></i></a>
         <a href="https://plus.google.com/113229614432305289269"><i class="bottom-icon fab fa-google-plus-g"></i></a>
         <a href="https://www.instagram.com/himnark/"><i class="bottom-icon fab fa-instagram"></i></a>
       </div>
       <div class="contacts">
        <span class="bottom-text">
         Հեռ. 93235615
        </span>
        <span class="bottom-text">
          info@himnark.am
        </span>
      </div>
       <small class="brand-name bottom-text">Հիմնարկ ՓԲԸ © 2018</small>
        <small class="rights-mob  bottom-text" >Բոլոր իրավունքները  պաշտպանված են</small>
  </div>