 <div class="container sections">

<div class="main row" id="main">
  <div class="col-xs-12 col-lg-6 hide-992">
  </div>
  
  <div class="col-xs-12 col-lg-6">
       <span class="large-heading"><span class="bold-part">Հիմնարկ</span> • Մարդիկ</span><span class="beta">BETA</span>
        <p class="description description1">
          Կադրեր և աշխատավարձի հաշվարկ` մեկ տեղում 
        </p>
        <p class=" description description2">Ունեցեք ժամանակ ստեղծագործ աշխատանքի համար։</p>
        <div class="action-block">
          <a role="button" class="action-btn try-btn try open-signup-page" aria-pressed="true">ՓՈՐՁԵԼ ԱՆՎՃԱՐ</a>
          <a role="button" class="action-btn login-btn login open-signup-page" aria-pressed="true">ՄՈՒՏՔ ԳՈՐԾԵԼ</a>
        </div>
  </div>
  <div class="col-xs-12 col-lg-6">
    <img src="assets/images/hero-image.png" class="illustration">
  </div>
</div>
</div> 