<!-- Desktop navbar -->
<nav class="navbar navbar-expand-lg fixed-top nav-menu nav-desk">
  <div class="container sections">
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto top-bar-block">
        <div class="top-bar left-bar">
          <li>
            <a class="navbar-brand  navbar-brand-desk top active scroll" href="#main">
              <img src="assets/images/logo icon himnark.svg" class="himnark-logo" width="36" height="36" alt="">
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link menu-item scroll" href="#solutions">ԼՈՒԾՈՒՄ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-item scroll" href="#advantages">ԱՌԱՎԵԼՈՒԹՅՈՒՆՆԵՐ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-item scroll" href="#pricing">ԳԻՆ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-item scroll" href="#features">ՀԱՏԿՈՒԹՅՈՒՆՆԵՐ</a>
          </li>

        </div>
        <div class="top-bar right-bar">
           <li class="lang-block">
            <a role="button" class="lang active-lang btn btn-link" aria-pressed="true" href="">ՀԱՅ</a>
          </li>
          <li class="lang-block">
            <a role="button" class="lang btn-link" aria-pressed="true" href="/en" id="eng">ENG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-action login open-login-page" role="button" aria-pressed="true">ՄՈՒՏՔ ԳՈՐԾԵԼ</a>
          </li>
           <li class="nav-item ">
            <div class="try-anim animated">
            <a class="btn-link nav-link nav-action try open-signup-page"  role="button" aria-pressed="true">ՓՈՐՁԵԼ ԱՆՎՃԱՐ</a>
          </div>
          </li>
         <!--  <li class="lang-block">
            <a role="button" class="lang active-lang btn btn-link" aria-pressed="true" href="">ՀԱՅ</a>
          </li>
          <li class="lang-block">
            <a role="button" class="lang btn-link" aria-pressed="true" href="/en" id="eng">ENG</a>
          </li> -->
        </div>
      </ul>
    </div>
  </div>
</nav>

<!-- Mobile navbar -->
<nav class="navbar nav-mob">
  <!-- Navbar brand -->
  <div class="mobile-navbar-header">
    <a class="navbar-brand active scroll navbar-brand-mob " href="#main">
      <img src="assets/images/logo icon himnark.svg" class="himnark-logo" width="35" height="35" alt="">
    </a>
    <!-- Collapse button -->
    <button class="navbar-toggler unbordered animated-icon" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent20" aria-controls="navbarSupportedContent20"
      aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
    </button>
  </div>
  <!-- Collapsible content -->
  <div class="collapse navbar-collapse " id="navbarSupportedContent20">
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link menu-item scroll " href="#solutions-mob">ԼՈՒԾՈՒՄ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-item scroll" href="#advantages">ԱՌԱՎԵԼՈՒԹՅՈՒՆՆԵՐ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-item scroll" href="#pricing">ԳԻՆ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-item scroll" href="#features">ՀԱՏԿՈՒԹՅՈՒՆՆԵՐ</a>
          </li>
          <li class="nav-item">
            <a role="button" class="lang active-lang  btn-link" aria-pressed="true" href="">ՀԱՅ</a>
            <a role="button" class="lang btn-link" aria-pressed="true" href="/en" id="eng">ENG</a>
          </li>
          <li class="nav-item nav-buttons">
            <a class="nav-action nav-link try open-signup-page">ՓՈՐՁԵԼ ԱՆՎՃԱՐ</a>
            <a class="nav-action nav-link login open-login-page">ՄՈՒՏՔ ԳՈՐԾԵԼ</a>
          </li>
      </ul>
  </div>
</nav>