<div class="col-12 pricing" id="pricing">
    <div class="col-12 text-center">
    <h1 class="section-title">Փաթեթներ</h1>
  </div>
    <div class="container sections">
        <div class="row items-block">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <div class="item">
                    <h3 class="heading">ՍԿՍՆԱԿ</h3>
                    <span class="subheading">Մինչև 5 աշխատակից</span>
                    <span class="price-value">0<sup><img src="assets/images/dram.png" width="25" height="25"></sup></span>
                    <div class="sub-value"></div>
                   <a role="button" aria-pressed="true" class="try-btn try open-signup-page">ԳՐԱՆՑՎԵԼ</a>
                    <div class="item-footer">
                        <span class="text text1">Սպասարկումը՝ առցանց <br> զրուցարանով</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <div class="item ">
                    <h3 class="heading">ՊԱՐԶ</h3>
                    <span class="subheading">Մինչև 50  աշխատակից</span>
                    <span class="price-value">1,000<sup><img src="assets/images/dram.png" width="25" height="25"></sup></span>
                    <div class="sub-value">
                        <span>Ամսական, 1 աշխատակցի համար</span>
                    </div>
                    <a role="button" aria-pressed="true" class="try-btn try open-signup-page">ՓՈՐՁԵԼ</a>
                    <div class="item-footer item-footer2">
                        <p class="label">1 ամիս անվճար</p>
                        <span class="text text2">Առցանց և հեռախոսային <br> սպասարկում</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="item item3">
                        <h3 class="heading">ՀԱՏՈՒԿ</h3>
                        <span class="subheading">51 և ավել աշխատակից</span>
                        <span class="price-value">ԽՈՍԵ՞ՆՔ</span>
                        <div class="sub-value">
                            <span>Կապվեք մեզ զեղչված գինը պարզելու համար</span>
                        </div>
                        <a role="button" aria-pressed="true" class="try-btn try open-signup-page">ԵԿԵՔ ԽՈՍԵՆՔ</a>
                        <div class="item-footer item-footer3">
                            <span class="text text3">Սպասարկումը՝ առցանց, հեռախոսով և այցելությամբ
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>