<div class="container sections">
<div class="row solutions-desk" id="solutions">
  <div class="col-12 text-center">
    <h1 class="section-title">Ինչպես է համակարգն աշխատում</h1>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 animation-block animation-block1">
    <video width="700" height="500" id="vid" playsinline autoplay muted  class="ph_anim ph_anim1 animation-show" >
     <source src="assets/images/details.mp4"  type="video/mp4" />
    </video>
    <script> 
    document.getElementById('vid').play(); 
      </script>  
  </div>
  <div class="col-xs-12 col-md-6 accordion-block-1">
    <div id="accordionExample1">
      <div class="card1 left" id="card1">
        <div class="card-header card-title " data-toggle="collapse" data-target="#collapse1"
            aria-expanded="false" aria-controls="collapse1"  id="header1">
          <div class="collapsed solution" >
            <div class="solution-img-block">
              <img class="placeholder placeholder1" src="assets/images/details.png" width="60" height="60">
            </div>
            <span class="sol-title">Մուտքագրե՛ք անձնակազմի տվյալները</span>
          </div>
        </div>
        <div id="collapse1" class="collapse show" aria-labelledby="header1" data-parent="#accordionExample1">
          <div class="card-body">
            <p class="sol-text">
             Աշխատակիցների տվյալներն ու աշխատանքի պայմանները ներմուծելուն պես համակարգը կկազմի աշխատանքային պայմանագրերը։
            </p>
          </div>
        </div>
      </div>
      <div class="card2" id="card2">
        <div class="card-header " data-toggle="collapse" data-target="#collapse2"
            aria-expanded="false" aria-controls="collapse2" id="header2">
          <div class="collapsed solution" >
            <div class="solution-img-block">
              <img class="placeholder placeholder2" src="assets/images/records.png" width="63" height="52">
            </div>
            <span class="sol-title">Կատարե՛ք ընթացիկ գրանցումները</span>
          </div>
        </div>
        <div id="collapse2" class="collapse" aria-labelledby="header2" data-parent="#accordionExample1">
          <div class="card-body">
            <p class="sol-text">
              Աշխատավարձի փոփոխություն, պարգևատրում, արձակուրդ, նպաստի և այլ  գրանցելիս համապատասխան հավելվածները, դիմումներն ու հրամանները ինքաշխատ կկազմվեն։
            </p>
          </div>
        </div>
      </div>
      <div class="card3" id="card3">
        <div class="card-header " data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3"
          id="header3">
          <div class="collapsed solution" >
            <div class="solution-img-block">
              <img class="placeholder placeholder3" src="assets/images/payroll-calc.png" width="60" height="60">
            </div>
            <span class="sol-title">Ստացե՛ք աշխատավարձի հաշվարկը </span>
          </div>
        </div>
        <div id="collapse3" class="collapse" aria-labelledby="header3" data-parent="#accordionExample1">
          <div class="card-body">
            <p class="sol-text">
             Աշխատավարձի հաշվարկը այլևս ժամանակ չի պահանջում, համակարգը կազմում է այն առկա գրանցումների հիման վրա։ Մոռացե՛ք Excel-ը :)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 accordion-block-2">
      <div id="accordionExample2">
      <div class="card4 left4" id="card4">
        <div class="card-header card-title" data-toggle="collapse" data-target="#collapse4"
            aria-expanded="false" aria-controls="collapse4" id="header4">
          <div class="collapsed solution" >
            <div class="solution-img-block">
              <img class="placeholder placeholder4" src="assets/images/payments.png" width="52" height="63">
            </div>
            <span class="sol-title">Վճարե՛ք կանխիկ և փոխանցումով</span>
          </div>
        </div>
        <div id="collapse4" class="collapse show" aria-labelledby="header4" data-parent="#accordionExample2">
          <div class="card-body">
            <p class="sol-text">
             Հաշվարկային թերթիկների հիման վրա ավտոմատ ստեղծվում են վճարման փաստաթղթեր, որոնք կարելի է տպել կամ արտահանել՝ որպես XML նիշք, առցանց վճարելու համար։
            </p>
          </div>
        </div>
      </div>
      <div class="card5" id="card5">
        <div class="card-header" data-toggle="collapse" data-target="#collapse5"
            aria-expanded="false" aria-controls="collapse5" id="header5">
          <div class="collapsed solution" >
            <div class="solution-img-block">
              <img class="placeholder placeholder5" src="assets/images/tax-return.png" width="60" height="60">
            </div>
            <span class="sol-title">Հանձնե՛ք հարկային հաշվետվությունները</span>
          </div>
        </div>
        <div id="collapse5" class="collapse" aria-labelledby="header5" data-parent="#accordionExample2">
          <div class="card-body">
            <p class="sol-text">
              Եկամտային հարկի հաշվետվությունը և աշխատակիցների տվյալների գրանցման հայտերը՝ համակարգը գեներացնում է աշխատավարձի հաշվարկի հետ միասին։
            </p>
          </div>
        </div>
      </div>
      <div class="card6" id="card6">
        <div class="card-header"  data-toggle="collapse" data-target="#collapse6"
            aria-expanded="false" aria-controls="collapse6" id="header6">
          <div class="collapsed solution">
            <div class="solution-img-block">
              <img class="placeholder placeholder6" src="assets/images/accounting.png" width="60" height="44">
            </div>
            <span class="sol-title">Արտահանե՛ք հաշվապահական ձևակերպումները</span>
          </div>
        </div>
        <div id="collapse6" class="collapse" aria-labelledby="header6" data-parent="#accordionExample2">
          <div class="card-body">
            <p class="sol-text">
             Աշխատավարձի հաշվապահական ձևակերպումները կարող եք արտահանել և ավելացնել մնացած գրանցումներին՝ ներմուծելով դրանք «ՀԾ Հաշվապահ» համակարգ։
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 animation-block animation-block2">
  <video width="700" height="500"  playsinline autoplay muted  class="ph_anim ph_anim2" >
     <source src="assets/images/payments.mp4"  type="video/mp4" />
    </video>
  </div>
</div>


<div class="row solutions solutions-mob" id="solutions-mob">
  <div class="col-12 text-center">
    <h1 class="section-title">Ինչպես է համակարգն աշխատում</h1>
  </div>
  
  <div class="col-xs-12  accordion-block-1">
    <div id="accordionExample1-mob">
      <div class="card1 card1-mob left" id="card1-mob">
        <div class="card-header card-title " data-toggle="collapse" data-target="#collapse1-mob"
            aria-expanded="false" aria-controls="collapse1-mob" id="header1-mob">
          <div class="collapsed solution" >
            <div class="solution-img-block">
              <img class="placeholder placeholder1" src="assets/images/details.png" width="60" height="60">
            </div>
            <span class="sol-title">Մուտքագրե՛ք անձնակազմի տվյալները</span>
          </div>
        </div>
        <div id="collapse1-mob" class="collapse show" aria-labelledby="header1-mob" data-parent="#accordionExample1-mob">
          <div class="card-body">
            <p class="sol-text">
            Աշխատակիցների տվյալներն ու աշխատանքի պայմանները ներմուծելուն պես համակարգը կկազմի աշխատանքային պայմանագրերը։
            </p>
          </div>
        </div>
      </div>
      <div class="card2 card2-mob" id="card2-mob">
        <div class="card-header " id="header2-mob" data-toggle="collapse" data-target="#collapse2-mob"
            aria-expanded="false" aria-controls="collapse2" >
          <div class="collapsed solution" >
            <div class="solution-img-block">
              <img class="placeholder placeholder2" src="assets/images/records.png" width="63" height="52">
            </div>
            <span class="sol-title">Կատարե՛ք ընթացիկ գրանցումները</span>
          </div>
        </div>
        <div id="collapse2-mob" class="collapse" aria-labelledby="header2-mob" data-parent="#accordionExample1-mob">
          <div class="card-body">
            <p class="sol-text">
             Աշխատավարձի փոփոխություն, պարգևատրում, արձակուրդ, նպաստի և այլ  գրանցելիս համապատասխան հավելվածները, դիմումներն ու հրամանները ինքաշխատ կկազմվեն։
            </p>
          </div>
        </div>
      </div>
      <div class="card3 card3-mob" id="card3-mob">
        <div class="card-header" data-toggle="collapse" data-target="#collapse3-mob" aria-expanded="false" aria-controls="collapse3-mob" id="header3-mob">
          <div class="collapsed solution" >
            <div class="solution-img-block">
              <img class="placeholder placeholder3" src="assets/images/payroll-calc.png" width="60" height="60">
            </div>
            <span class="sol-title">Ստացե՛ք աշխատավարձի հաշվարկը</span>
          </div>
        </div>
        <div id="collapse3-mob" class="collapse" aria-labelledby="header3-mob" data-parent="#accordionExample1-mob">
          <div class="card-body">
            <p class="sol-text">
                    Աշխատավարձի հաշվարկը այլևս ժամանակ չի պահանջում, համակարգը կազմում է այն առկա գրանցումների հիման վրա։ Մոռացե՛ք Excel-ը :)
            </p>
          </div>
        </div>
      </div>
      <div class="card4 card4-mob" id="card4-mob">
        <div class="card-header"  data-toggle="collapse" data-target="#collapse4-mob"
            aria-expanded="false" aria-controls="collapse4" id="header4-mob">
          <div class="collapsed solution">
            <div class="solution-img-block">
              <img class="placeholder placeholder4" src="assets/images/payments.png" width="52" height="63">
            </div>
            <span class="sol-title">Վճարե՛ք կանխիկ և փոխանցումով</span>
          </div>
        </div>
        <div id="collapse4-mob" class="collapse" aria-labelledby="header4-mob" data-parent="#accordionExample1-mob">
          <div class="card-body">
            <p class="sol-text">
            Հաշվարկային թերթիկների հիման վրա ավտոմատ ստեղծվում են վճարման փաստաթղթեր, որոնք կարելի է տպել կամ արտահանել՝ որպես XML նիշք, առցանց վճարելու համար։
            </p>
          </div>
        </div>
      </div>
      <div class="card5 card5-mob" id="card5-mob">
        <div class="card-header"  data-toggle="collapse" data-target="#collapse5-mob"
            aria-expanded="false" aria-controls="collapse5" id="header5-mob">
          <div class="collapsed solution">
            <div class="solution-img-block">
              <img class="placeholder placeholder5" src="assets/images/tax-return.png" width="60" height="60">
            </div>
            <span class="sol-title">Հանձնե՛ք հարկային հաշվետվությունները</span>
          </div>
        </div>
        <div id="collapse5-mob" class="collapse" aria-labelledby="header5-mob" data-parent="#accordionExample1-mob">
          <div class="card-body">
            <p class="sol-text">
               Եկամտային հարկի հաշվետվությունը և աշխատակիցների տվյալների գրանցման հայտերը՝ համակարգը գեներացնում է աշխատավարձի հաշվարկի հետ միասին։
            </p>
          </div>
        </div>
      </div>
      <div class="card6 card6-mob" id="card6-mob">
        <div class="card-header"  data-toggle="collapse" data-target="#collapse6-mob"
            aria-expanded="false" aria-controls="collapse6" id="header6-mob">
          <div class="collapsed solution">
            <div class="solution-img-block">
              <img class="placeholder placeholder6" src="assets/images/accounting.png" width="60" height="44">
            </div>
            <span class="sol-title">Արտահանե՛ք հաշվապահական ձևակերպումները</span>
          </div>
        </div>
        <div id="collapse6-mob" class="collapse" aria-labelledby="header6-mob" data-parent="#accordionExample1-mob">
          <div class="card-body">
            <p class="sol-text">
               Աշխատավարձի հաշվապահական ձևակերպումները կարող եք արտահանել և ավելացնել մնացած գրանցումներին՝ ներմուծելով դրանք «ՀԾ Հաշվապահ» համակարգ։
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

 
</div>
</div>
